@charset "UTF-8";


// ==========================================================
//                   Media Queries --> 480px
// ==========================================================

@media screen and (max-width: 30rem) {

    // ==========================================================
    //                    reusable CSS classes
    // ==========================================================

    .btn__main {
        font-size: 1rem;
    }

    // ==========================================================
    //                            Header
    // ==========================================================

    header {
        padding-block: 0 3vh;

        .deko__line {
            width: 2px;
            height: 10vh;
        }

        .article__claim {
            width: auto;
            padding-block: 2vh 10vh;

            h1 {
                font-size: 10vmin;
            }
        }
    }

    // ==========================================================
    //                      Section Story Wrap
    // ==========================================================

    .section__story__wrap {
        padding-block: 8vh;

        article {
            .main__infos {
                background: url("./../images/map.svg") bottom right / 30vh no-repeat;
            }
        }
    }

    // ==========================================================
    //                      Section Action
    // ==========================================================

    .section__action {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2vh;
        padding-block-start: 0;
        padding-block-end: 0;
        margin-block-start: -5vh;

        img {
            position: static;
        }

        img:nth-of-type(1),
        img:nth-of-type(2),
        img:nth-of-type(3),
        img:nth-of-type(4),
        img:nth-of-type(5),
        img:nth-of-type(6),
        img:nth-of-type(7) {
            width: 85%;
        }

        article {
            h2 {
                font-size: 12vmin;
                padding-inline: 8%;
            }

            p {
                padding-inline: 8%;
            }
        }

        article:nth-of-type(1) {
            padding-block-end: 0;
        }
    }

    // ==========================================================
    //                    Section Golden Bear
    // ==========================================================

    .section__goldenbear {
        padding-block: 10vh 0;

        article {
            .goldenbear__title {
                h2 {
                    font-size: 12vmin;
                }
            }

            .goldenbear__text {
                p {
                    font-size: 7vmin;
                }
            }
        }

        .article__goldenbear__img {
            padding-block-start: 4vh;

            div {
                img:nth-of-type(1) {
                    width: clamp(200px, 66%, 731px);
                }

                img:nth-of-type(2) {
                    width: clamp(110px, 33%, 366px);
                    margin-left: -40px;
                    margin-block-start: 2vh;
                }
            }
        }

        .anim__california__circle {
            padding-block: 15vh;

            img {
                top: -109px;
                right: -25px;
                width: 345px;
            }
        }
    }

    // ==========================================================
    //                    Section Poppy Bear
    // ==========================================================

    .section__poppybear {
        article {
            .poppybear__title {
                h2 {
                    font-size: 12vmin;
                }
            }

            .poppybear__text {
                p {
                    font-size: 7vmin;
                }
            }
        }

        .article__poppybear__img {
            padding-block-start: 4vh;

            div {
                img:nth-of-type(1) {
                    width: clamp(110px, 33%, 366px);
                    margin-right: -40px;
                    margin-block-start: 20px;
                }

                img:nth-of-type(2) {
                    width: clamp(200px, 66%, 731px);
                }
            }
        }
    }

    // ==========================================================
    //                          Footer
    // ==========================================================

    footer {
        article {

            p:nth-of-type(2) {
                font-size: 1rem;
                padding-block-end: 5vh;
            }
        }

        .infos {
            gap: 10px;

            .logos {
                margin-inline-end: 0;
                text-align: right;
            }
        }

        .anim {
            padding-block: 0;
            position: static;
            transform: rotate(0) translate(-600px, -50px);

            p {
                font-size: 2.5rem;
            }
        }
    }

    @keyframes banner {
        0% {
            transform: translateX(0);
        }

        50% {
            transform: translateX(450px);
        }

        0% {
            transform: translateX(0);
        }
    }
}


// ==========================================================
//              Media Queries --> 481px bis 768px
// ==========================================================

@media screen and (min-width: 30.0625em) and (max-width: 48rem) {

    // ==========================================================
    //                          Footer
    // ==========================================================

    footer {
        article {

            .anim {
                padding-block: 0;
                position: static;
                transform: rotate(0) translate(-600px, -50px);

                p {
                    font-size: 2.5rem;
                }
            }
        }

        @keyframes banner {
            0% {
                transform: translateX(0);
            }

            50% {
                transform: translateX(450px);
            }

            0% {
                transform: translateX(0);
            }
        }

    }
}

// ==========================================================
//              Media Queries --> 481px bis 1024px
// ==========================================================


@media screen and (min-width: 30.0625em) and (max-width: 64em) {

    // ==========================================================
    //                      Section Action
    // ==========================================================

    .section__action {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 2vh;
        padding-block-start: 0;
        padding-block-end: 0;
        margin-block-start: -5vh;

        img {
            position: static;
        }

        img:nth-of-type(1),
        img:nth-of-type(2),
        img:nth-of-type(3),
        img:nth-of-type(4),
        img:nth-of-type(5),
        img:nth-of-type(6) {
            width: 75%;
        }

        img:nth-of-type(7) {
            grid-column: 1 / 3;
            width: 50%;
        }

        article {
            grid-column: 1 / 3;
            text-align: center;

            h2 {
                padding-inline: 25%;
            }

            p {
                padding-inline: 25%;
            }
        }

        article:nth-of-type(1) {
            padding-block-end: 0;
        }
    }

    // ==========================================================
    //                          Footer
    // ==========================================================

    footer {
        padding-block: 10vh 5vh;

        article {
            width: clamp(400px, 50%, 500px);
            padding-block-end: 8vh;

            p:nth-of-type(2) {
                font-size: 1rem;
                padding-block-end: 4vh;
            }
        }

        .infos {

            .logos {
                margin-inline-end: 0;
            }
        }

        .anim {
            padding-block: 0;
            position: static;
            transform: rotate(0) translate(-150px, -50px);

            p {
                font-size: 2.5rem;
                animation: banner 4s linear infinite alternate;
            }
        }
    }

    @keyframes banner {
        0% {
            transform: translateX(0);
        }

        50% {
            transform: translateX(50px);
        }

        0% {
            transform: translateX(0);
        }
    }
}

// ==========================================================
//       Media Queries --> 481px bis 1024px (landscape)
// ==========================================================


@media screen and (min-width: 30.0625rem) and (max-width: 64em) and (max-height: 31.25rem) and (orientation: landscape) {


    // ==========================================================
    //                    reusable CSS classes
    // ==========================================================

    .btn__main {
        font-size: 1rem;
    }

    // ==========================================================
    //                      Section Action
    // ==========================================================

    .section__action {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 2vh;
        padding-block-start: 0;
        padding-block-end: 0;
        margin-block-start: -5vh;

        img {
            position: static;
        }

        img:nth-of-type(1),
        img:nth-of-type(2),
        img:nth-of-type(3),
        img:nth-of-type(4),
        img:nth-of-type(5),
        img:nth-of-type(6),
        img:nth-of-type(7) {
            width: 75%;
        }

        img:nth-of-type(7) {
            grid-column: 1 / 3;
            width: 50%;
        }

        article {
            grid-column: 1 / 3;
            text-align: center;

            h2 {
                font-size: 12vmin;
                padding-inline: 15%;
            }

            p {
                padding-inline: 15%;
            }
        }

        article:nth-of-type(1) {
            padding-block-end: 0;
        }
    }

    // ==========================================================
    //                    Section Golden Bear
    // ==========================================================

    .section__goldenbear {

        .article__goldenbear__img {
            margin-bottom: -30vh;
        }

        .anim__california__circle {
            padding-block: 35vh;

            img {
                top: -100px;
                right: -5%;
                width: 350px;
            }
        }
    }

    // ==========================================================
    //                          Footer
    // ==========================================================

    footer {
        padding-block: 10vh 5vh;

        article {
            padding-block-end: 15vh;

            p:nth-of-type(2) {
                padding-block-end: 10vh;
            }
        }

        .infos {

            .logos {
                margin-inline-end: 0;
            }
        }

        .anim {
            transform: translate(-150px, -25px);

            p {
                font-size: 2.5rem;
                animation: banner 4s linear infinite alternate;
            }
        }
    }

    @keyframes banner {
        0% {
            transform: translateX(0);
        }

        50% {
            transform: translateX(50px);
        }

        0% {
            transform: translateX(0);
        }
    }

}