// ========================================================== 
//                             Mixins
// ==========================================================


@mixin fontStyle($ff, $fz, $fw, $lh: 100%, $ls: 0, $fs: normal) {
    font-family: $ff;
    font-size: $fz;
    font-weight: $fw;
    line-height: $lh;
    letter-spacing: $ls;
    font-style: $fs;
}

// @mixin mediaMobile($breakPoint-mobile) {
//     @media screen and (max-width: $breakPoint-mobile) {
//         @content
//     }
// }