// ========================================================== 
//                 Variables / Custom Properties
// ==========================================================

$bg-color: black;
$bg-color-lightgrey: #F5F5F5;
$txt-color-white: white;
$txt-color-black: rgb(0, 0, 0);
$border-color: rgb(170, 170, 170);